# Node modules and build output
node_modules/
build/
dist/
.env

# Ignore all image files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp

# Mac system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log* 